<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="description" content="{{ site.description }}">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta property="og:image" content="{{ site.url }}/{{ site.fb_image }}"/>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" href="css/solo.css">
  <link rel="canonical" href="{{ site.url }}" />
</head>
<body>
  <article>
   <div class="container">
    <h1>{{ page.title }}</h1>
    {{ content }}
    </div>
  </article>
</body>
<div class="footer">
<p>&copy; 2018, Timothy Herzog</p>
<p>This site uses the <a href="https://github.com/adueck/good-clean-read">Good Clean Read</a> theme</p>
</div>
</html>
